[2019-10-28 16:38] marciniwanicki commented on #438
+1, would be great to update it or remove if it's not longer active

[2019-11-12 09:47] ageevvalentin commented on #428
I think you need to remove Provider, Lazy injection to remove Swinject dependency on target classes.
I suggest using a new factory-provider API as the Kodein:

[code]

[2019-11-21 05:06] ankitkumar003 opened #440 "Type 'SwinjectStoryboardOption' does not conform to protocol 'ServiceKeyOption'"
func hash(into: inout Hasher) is not an optional function in swinject so it gives error in our pod file while installing the pods

<img width="741" alt="Screen Shot 2019-11-21 at 10 32 50 AM" src="https://user-images.githubusercontent.com/24654212/69305549-69c73e80-0c4a-11ea-80e3-53c6500cba4c.png">
<img width="741" alt="Screen Shot 2019-11-21 at 10 33 06 AM" src="https://user-images.githubusercont

[2019-11-26 21:06] bdrobert commented on #438
+1

[2019-12-02 15:09] DeadDogDeus opened #441 "Container doesn't have a possibility for validating dependencies graph"
Container does not provide a possibility for resolving/validating all available dependencies. Is it possible to check in a some way that all are registered? It can save a lot of time for big projects with a big number of dependencies.

[2019-12-24 11:08] dghetiya opened #443 "EXC_BAD_ACCESS"
I am using Swinject version 2.5.0 with xcode 10.1 , swift 4.2.
When I am trying to run the project ,  I am getting EXC_BAD_ACCESS error in Container.swift class.

I have created extension for Resolver. Kindly see the attachment.

Am I missing something?

<img width="936" alt="Screenshot 2019-12-24 at 4 30 49 PM" src="https://user-images.githubusercontent.com/37572086/71410459-55bc9580-266b-11ea-97

[2020-01-16 19:05] mateustip commented on #327
ok

[2020-01-16 19:06] mateustip commented on #327
don't work bro

[2020-01-16 19:06] mateustip commented on #327
does not work bro

[2020-02-25 10:12] devxoul commented on #221
I've created a patch for the issuse: #445. I would really appreciate if somebody could review this! Thanks :)

[2020-02-28 17:09] CLoutas commented on #296
This appears to be breaking SwiftUI's Preview by complaining that ___llvm_profile_runtime_user was not found for architecture x86_64. As @Reflejo mentioned, turning code coverage off fixes it.

[2020-03-24 10:06] shayan-dnsh opened #448 "EXC_BAD_ACCESS (code=EXC_I386_GPFLT)"
public func setInstance(_ instance: Any?, inGraph graph: GraphIdentifier) {
        self.instance = instance

        if instances[graph] == nil {  // Thread 8: EXC_BAD_ACCESS (code=EXC_I386_GPFLT) Happened Hear and instance is DisposeBag
            instances[graph] = Weak()
        }
        instances[graph]?.value = instance
    }

[2020-03-26 21:06] sudansh opened #449 "No such module in xcode 11.4"
Unable to build
Xcode version: 11.4
using carthage
Swinject version (or git SHA) :
The steps to reproduce the issue:
Add Swinject to any project and try to build.
error: `No such module: Swinject`

[2020-03-30 19:38] Zeta611 commented on #419
Any updates?

[2020-03-31 22:30] rojanDinc commented on #449
I am also having this problem. Commenting out `use_frameworks!` in the Podfile makes Xcode finding it but it breaks other things.

[2020-04-01 22:08] trujamal commented on #448
Also getting this error in my project any updates to this?

[2020-04-04 03:45] devioustree opened #450 "Missing support for binary frameworks with module stability"
`Swinject.xcodeproj` isn't configured to generate a `.swiftinterface` file which means dynamic frameworks can only be used with projects using the same version of the Swift compiler.

It would be nice to not have to recompile the framework when a new Swift compiler is released.

[2020-04-06 22:45] davidthorn opened #452 "Long Term Support"
I have recently been informed about Swinject by other colleges. I do however see that it's been some time since any commits have been made.

Could one of the contributors confirm that this library will be supported over the next coming years.

Thanks

[2020-04-13 23:39] chulunus commented on #448
I too am having this same issue and wondering if there is any updates.

[2020-04-21 12:16] chosa91 commented on #406
We have a very similar problem.
We are using only a single container, and a custom objectScope
[code]

While the user logged in we have the following method to dynamically register then resolve instances for a given `ID`:
[code]
Where dependencies is the following:
[code]
---

When the user logs out we call a reset on scopes:

[code]

But  when we call the `registerIfNeededThenResolve()` it'll ret

[2020-04-24 14:48] uditsalwan commented on #452
Hi Team.. Does anyone have a roadmap for future support and updates?

[2020-06-09 11:29] ukushu commented on #20
The same issue.

I have:
1. Open project
2. Build SwinInject-iOS> Mac
3. Open playground

There is absent **Editor > Execute Playground** menu so no ability to choose it. Even on project window, even on playground window.

Error of playground is the same: `no such module 'Swinject'`

What I did wrong?

[2020-07-12 11:53] alibaqbani opened #455 "Factory closure called multiple times when object scope is container"
I'm trying to register CoreDataStack as a single instance on a shared container with object scope `.container`, but its factory closure called multiple time and when I debug memory graph in Xcode the object is also created multiple times even when the returned object is not value-type!

Swinject documentation:

What is the root cause of this strange behavior?

[2020-07-16 02:59] Prince2k3 commented on #452
I think this repo is no longer maintained.

[2020-07-16 11:37] davidthorn commented on #452
I would be happy to assist with maintaining this repository if someone could add me.

[2020-07-20 14:18] RoqueCampos opened #456 "How to use swinject with a second storyboard"
Dear Friends,

I'm using Swinject in my app, and it is working very well. I'm using a storyboard, and to register the dependencies to the default container, I'm using the "extension method" (implementing the setup method on the class extension SwinjectStoryBoard).

Now, my storyboard has grown, and I cleaned up moving some viewcontrollers to a second story board. When navigating to a viewcontrolle

[2020-07-21 15:36] RoqueCampos commented on #456
Please forgive me, my intention was to publish this question on the Swinject/Storyboard repository. I'm closing the issue and moving it.

Thanks

[2020-07-21 15:36] #456 closed

[2020-07-24 08:41] SJLGarin commented on #448
我也遇到了，有暂时避免此崩溃的方法吗

[2020-07-27 22:11] taonhannguyen opened #457 "Failure to resolve Service"
Hello,
I am refactoring my project to modularize it and while I could make things work properly for the project part, now I get the following failure when running my Unit Tests :

Swinject: Resolution failed. Expected registration:
	{ Service: MoreOptionsManagerProtocol, Factory: Resolver -> MoreOptionsManagerProtocol }
Available registrations:
	{ Service: MoreOptionsManagerProtocol, Factory: Reso

[2020-07-27 22:26] taonhannguyen commented on #457
This occurs because in Contianer.swift, getEntry fails to return the entry, but I dont understand why. See screenshot.

![Screen Shot 2020-07-27 at 6 25 07 PM](https://user-images.githubusercontent.com/39965249/88598057-908a1000-d036-11ea-85f3-0ec23be53ebf.png)

[2020-07-30 17:59] codeman9 commented on #452
@davidthorn Fork and rename? This is my favorite DI container library for swift and it would be a shame to lose it.

[2020-07-30 18:02] Prince2k3 commented on #452
@codeman9 Thats not a bad idea. I would love updates with this library especially with SwiftUI

[2020-08-01 19:00] twittemb opened #458 "Proposition for function registration"
Hi everyone,

I've been using Swinject for 2 years now (very great project). Gradually, I have adopted a functional programming style and I need to register/resolve functions thanks to Swinject.

As there can be many functions having the same signature, the only way to discriminate them is using a name.

I have implemented a helper to avoid explicitly using names. It is called a `NamedService`. It

[2020-08-10 12:45] geraldeersteling commented on #452
I've been looking at alternatives like Weaver or Needle, does anyone have good recommendations? I feel like Swinject is becoming more and more desolated...

[2020-08-10 16:16] claymation0x0 commented on #452
Cleanse by square is good and looks maintained https://github.com/square/cleanse

[2020-08-11 09:04] geraldeersteling commented on #452
Yeah, I've been looking into Cleanse as well. It's pretty complex, looks maintained for now though

[2020-08-11 10:42] Prince2k3 commented on #452
The closest to Swinject I've seen is Resolver.

https://github.com/hmlongco/Resolver

[2020-08-11 11:03] geraldeersteling commented on #452
Resolver actually looks great as well! I'm going to try and switch to that one instead of Cleanse since I'm encountering a problem with a dependency cycle. Thanks for pointing these out, keep 'em coming 😄

[2020-08-11 14:08] davidthorn commented on #458
Nice idea, but the first issue we need to resolve, is which one of the contributors is going to continue to maintain the project.

[2020-08-11 14:14] twittemb commented on #458
Thanks for the response

I did not realize the project was not maintained anymore :-(

[2020-08-17 12:46] davidthorn commented on #458
Hi, @twittemb I would be very interested in using your idea in my forked version of Swinject.
Create a PR on my version and it will be merged: https://github.com/davidthorn/Swinject

[2020-08-17 18:36] twittemb commented on #458
Hi @davidthorn

ok no pb. Will do ASAP.

[2020-08-29 21:56] twittemb commented on #458
@davidthorn just opened a PR in your repo 👍

[2020-09-01 13:03] buaaluwentao commented on #207
@yoichitgy, sorry, I am new to Swift，can you show me how can I use Swinject in my obj-c project，for example, what is the first param for register of Container.I always failed with compile error [Cannot convert value of type 'Protocol' to expected argument type 'AnyObject.Protocol']
----------------------------------------------------------------------------
this is my code fragment
public class fu

[2020-09-07 06:36] maksirol commented on #448
Hello, any update to this issue or workaround?

[2020-09-09 20:36] macdrevx opened #459 "Is SpinLock actually a spin lock?"
[`SpinLock`](https://github.com/Swinject/Swinject/blob/master/Sources/SpinLock.swift) seems like a misleading name because under the hood, it's using `NSRecursiveLock` which, as far as I can tell, is a blocking lock.

Mike Ash, writing about a list that includes `NSRecursiveLock`, [states](https://www.mikeash.com/pyblog/friday-qa-2017-10-27-locks-thread-safety-and-swift-2017-edition.html):

Apple'

[2020-09-10 18:19] macdrevx commented on #459
Looks like it used to actually be a spin lock. When it was [refactored](https://github.com/Swinject/Swinject/commit/499c58ac3a5f81b3fc2208fddb3573a4de55f50d#diff-058cae0d02157ab70b65495d4fcb0147) to use NSLock, it wasn't renamed.

[2020-09-10 18:28] macdrevx commented on #459
Seems like at this point a better name would just be `RecursiveLock`

[2020-09-16 08:19] TomoLV opened #460 "Build Libraries for Distribution Flag | Xcode 12, Swift 5.3"
Currently, when building with Xcode 12 GM, an error occurs:
`Module compiled with swift 5.2.4 cannot be imported by the swift 5.3 compiler`

Or maybe there's a workaround for that issue?

EDIT:
Looks like an issue related to the Carthage:
https://github.com/Carthage/Carthage/issues/3019

Closing this as not relevant to the Swinject.

[2020-09-16 11:27] #460 closed

[2020-09-23 06:24] muratmusic opened #462 "SwinjectAutoregistration crashes on Xcode 12.0 (12A7209)"
Hello everybody,

How soon can you fix this problem? On Xcode 11.7 SwinjectAutoregistration works OK.

![Call_Stack](https://user-images.githubusercontent.com/2004963/93974315-dac21000-fd9f-11ea-9b4f-122ebed7de06.png)

![Source_Code](https://user-images.githubusercontent.com/2004963/93974321-dc8bd380-fd9f-11ea-8c62-097d9d68a179.png)

[2020-09-23 06:35] muratmusic commented on #462
Sorry, see https://github.com/Swinject/SwinjectAutoregistration/issues/60 instead

[2020-09-23 06:35] #462 closed

[2020-09-25 17:24] tkohout commented on #452
@davidthorn Thanks for opening this. I am only a member so I can't add more people into the team. I am trying to reach the admins to see if they can bring some more people into the project.

[2020-09-27 08:41] davidthorn commented on #452
@tkohout That's super, look forward to seeing what the result is!

[2020-09-27 12:19] tkohout opened #463 "Travis CI not posting status to pull requests"
Seems like something has broken with the CI builds. They are being triggered and successfully complete but the result is not being posted to the Github.

According to [this issue](https://travis-ci.community/t/github-status-not-posted-on-commits-on-repositories-using-legacy-service-integration/7798) It might require to migrate the Travis to .com repositories.

Someone with admin rights have to do

[2020-10-04 14:31] yoichitgy commented on #452
Thanks @tkohout and @davidthorn. I invited tkohout to Swinject team. For now, I don't have much time to maintain the project. It's really helpful if you update Swinject to follow the latest Swift/iOS versions🙏

[2020-10-06 09:40] davidthorn commented on #452
Thanks, I will try my hardest to allocate some of my time per month to this project.

[2020-10-06 22:33] #452 closed

[2020-11-01 16:42] talron10 commented on #344
its 2020, but still crashing on this place (this time on line 302), and we are using only one single synchronized resolver everywhere in the app

[2020-12-02 05:37] abhilashRakuten commented on #344
Still getting this crash: Fatal error: If accessing container from multiple threads, make sure to use a synchronized resolver.: file `/Users/............/Carthage/Checkouts/Swinject/Sources/Container.swift, line 303` from crashlytics.

[2021-02-18 09:22] iamszabo opened #469 "Is the project dead?"
This framework is awesome, I use it on every project but I'm wondering if the project is dead as there has been no new release for 2 years now.

[2021-03-04 20:31] SaezChristopher commented on #469
I think we should fork it and maintain it .

[2021-04-23 15:16] karthikAdaptavant commented on #469
+1

[2021-05-06 11:25] 1ucas commented on #469
@SaezChristopher , there are 365 forks already..... I wonder if anyone of those are still being updated.

[2021-05-10 09:00] jakekrog commented on #469
@yoichitgy any thoughts on the current state of Swinject and its future?

[2021-06-08 13:26] bartguminiak commented on #457
@taonhannguyen have you solved the problem? I am facing the same

[2021-06-09 08:30] ChediB commented on #469
+1

[2021-06-09 09:38] bartguminiak commented on #469
+1

[2021-06-30 14:18] mpdifran commented on #469
Hey everyone! I agree that this project is important!

I was recently added to the Swinject organization, so I can definitely help merge in changes and perform releases if there's stuff missing. Currently on my radar is adding XCFramework support for Carthage, and I've also been playing around with some DocC stuff https://github.com/Swinject/Swinject/pull/471.

Please let me know what you'd like t

[2021-06-30 15:04] yoichitgy commented on #469
Hi everyone. Sorry I was away from the project for long time and didn't notice this issue.

As @mpdifran said, he kindly joined the project. We still think it would be nice to have more people to maintain Swinject. If you are interested in being a maintainer, please let me know in this issue thread or DM me on [Twitter](https://twitter.com/yoichitgy)🙏

Thanks!

[2021-06-30 15:35] 1ucas commented on #469
Hello,
I don't have much free time during the week.
But if I can help somehow, you can count me in.

[2021-06-30 15:55] yoichitgy commented on #469
Thanks @1ucas😃 I invited you to our Slack group. Would you check your email on gmail to join there?

[2021-06-30 16:13] 1ucas commented on #469
Thanks!

[2021-06-30 17:26] 72A12F4E commented on #469
I’d love to assist, in a maintainer role or otherwise! 😄

[2021-06-30 23:54] yoichitgy commented on #463
Sorry I didn't respond for long time. Thankfully, @1ucas will take the CI migration👏

We are still not sure which travis-ci.com or GitHub Actions are better for our open source project to migrate to. 1ucas will take some research😃

[2021-07-01 00:05] yoichitgy opened #472 "Remove dependency on Quick/Nimble for better maintainability and easier collaborator onboarding"
Remove dependency on Quick/Nimble and use XCTest for the following reasons.

- Get dev environment setup easier for collaborator onboarding
- Get rid of updates of Quick/Nimble to catch up with the latest Xcode/Swift versions
- Reduce CI time

Although it makes conflicts on PR #431 for Swinject 3.0, we take the priority of maintainability because we couldn't make releases for a few years.

Quick/N

[2021-07-01 00:39] 1ucas commented on #463
Hello!!! That's it Yoichi!
I'm working on it!
And I hope to have more updates soon!

[2021-07-01 11:43] yoichitgy opened #474 "Fix inconsistency between Xcode project file and project.yml"
We introduced [XcodeGen](https://github.com/yonaskolb/XcodeGen) with [project.yml](https://github.com/Swinject/Swinject/blob/master/project.yml) file, but it was not always used and now we have inconsistency between the Xcode project file and project.yml.

We would like to do the following to solve the current issue.
- Fix the inconsistency itself between the Xcode project file and project.yml.
-

[2021-07-01 11:50] yoichitgy opened #475 "Include Sample-iOS.playground to the Xcode project again"
We have [Sample-iOS.playground](https://github.com/Swinject/Swinject/tree/master/Sample-iOS.playground), but it was excluded from our Xcode project at a certain time.

To solve the issue, we would like to take following actions:
- Include the playground to the project again.
- Fix the playground if it has issues with the current Swinject/Swift/Xcode.

[2021-07-01 12:08] yoichitgy commented on #469
We made a kanban board `Maintained/Maintenable Again😃` as our actions to get Swinject maintained/mainenable again.
https://github.com/Swinject/Swinject/projects/1

[2021-07-01 12:36] yoichitgy opened #476 "Make maintainer operations descriptive"
Currently, we don't have good documentation for a maintainers to create releases except [CONTRIBUTING.md](https://github.com/Swinject/Swinject/blob/master/CONTRIBUTING.md).

It's nice to take the following actions.
- Update CONTRIBUTING.md or add a new document for maintainers to maintain Swinject. e.g. release procedures
- Make Makefile or something similar to describe release procedures (tagging

[2021-07-01 12:42] yoichitgy commented on #459
Thanks @macdrevx for providing the correct definitions and researching the past context!😃

It took long time to respond, but it looks good to me to take your suggestion to rename it to `RecursiveLock`👍

[2021-07-01 15:52] 72A12F4E commented on #469
I completely understand; most of my focus has been at my job which doesn't use GitHub. I'll see what I can do to knock out those two issues.

[2021-07-02 12:10] yoichitgy commented on #438
I was thinking to fix the link using [slack-invite-automation](https://github.com/outsideris/slack-invite-automation) service, but it is no longer available for a Free plan of Slack.

To get slack-invite-automation working, `admin.users.invite` Slack API should be accessible, but it is available for only Enterprise account.
https://stackoverflow.com/questions/62902933/is-there-a-way-i-can-invite-u

[2021-07-02 12:36] yoichitgy commented on #469
Thank you @72A12F4E for understanding😃

I agree a lot of experienced engineers focus on jobs and use GitHub less. I'm looking forward to inviting you as a maintainer soon🚀

[2021-07-02 15:45] mpdifran opened #477 "Support DocC in Xcode 13"
Apple introduced a new standard for method documentation in Xcode 13. We're already doing a pretty good job of documenting things, so there's only a few small tweaks we need to make to support it fully.

TODO:
- [x] Build DocC on every build of the framework
- [x] Update method doc formats to better take advantage of DocC
- [ ] Package DocC archives with the framework
- [ ] Create tutorials for co

[2021-07-02 17:56] mpdifran opened #478 "Release SwinjectStoryboard"

[2021-07-02 18:26] mpdifran commented on #477
A good article on using DocC in open source projects https://www.jessesquires.com/blog/2021/06/29/apple-docc-great-but-useless-for-oss

[2021-07-02 19:25] yoichitgy commented on #472
Merged  #473 🚀

[2021-07-02 19:25] #472 closed

[2021-07-03 09:08] yoichitgy commented on #478
I described our release procedure in PR #480. You can take a similar procedure manually following commands written in the [Makefile](https://github.com/Swinject/Swinject/blob/25f8ff5f1dada01b45faae35778ae4aeb5a126e1/Makefile).

[2021-07-04 10:19] #450 closed

[2021-07-04 10:21] yoichitgy commented on #450
Merged PR #451. Thank you😃

[2021-07-04 14:39] mpdifran opened #481 "Update SwinjectPropertyLoader to use Carthage instead of submodules"
`SwinjectAutoregistration` and `SwinjectStoryboard` have already been updated to resolve dependencies using Carthage, so we should do the same here.

Using submodules makes resolving via carthage difficult.

[2021-07-04 15:05] mpdifran opened #482 "Fix failing macOS tests in SwinjectStoryboard"
Once this PR goes in https://github.com/Swinject/SwinjectStoryboard/pull/157, we'll have some failing tests for macOS. From what I can tell, the test failures are valid and there's something we need to fix in our library.

[2021-07-06 00:38] 1ucas commented on #474
1) I just fixed the first bullet.
2) I can force the CI to update the project running at the pipeline. But that wouldn't fix the project at the repository.
The easiest way to keep consistency is to stop versioning it.
Will that become a problem for Cocoapods users?
Before linting / publishing the podspec, the CI can generate a fresh project file.

[2021-07-06 16:56] #463 closed

[2021-07-07 01:03] 1ucas commented on #449
Hello everyone!

My name's Lucas and I've been recently added to the Swinject Organization to help addressing some issues.

Is it still happening today, or it was a specific bug in Xcode 11.4?

Also, it would help a lot if you could tell us the Swinject version you're using.

[2021-07-07 14:39] #459 closed

[2021-07-08 02:27] mpdifran commented on #419
I'm digging into this to see if we can get it officially released! Also looking at how this could factor into SwiftUI. Stay tuned for more updates here!

[2021-07-08 14:18] mpdifran opened #486 "Fix release makefile to get the current branch in a way that supports older git versions"

[2021-07-08 14:32] 1ucas commented on #486
I still have the same doubt. Shouldn't it (the makefile) be a workflow at the CI, in a way it doesn't depend on each developer's environment?

[2021-07-08 14:49] mpdifran commented on #486
If it's easy enough to do it through CI, then we can jump straight there. I was figuring this would be an easy first step that would help make releases easier, and we can integrate into CI as a phase 2.

[2021-07-08 15:23] 1ucas commented on #486
That a look at this Pull Request. It has almost all step.
But I didn't know it would be worth it to invest more time.
https://github.com/1ucas/Swinject/pull/3/files

[2021-07-09 11:39] yoichitgy commented on #486
That's nice! Thanks 1ucas!

[2021-07-11 06:23] #476 closed

[2021-07-11 06:32] yoichitgy commented on #476
If we support older versions of Git, a git command change will be covered in #486.

[2021-07-11 07:56] yoichitgy commented on #474
Thanks @1ucas a lot😃 I set the assignee to you on this issue🙏

[2021-07-12 09:09] jesus-mg-ios opened #488 "FR: Enable library evolution support"
## Problem
Framework is not enable for evolution support.
So for example, Xcode showed up this kind of errors:

<img width="393" alt="Swift module cannot be imported" src="https://user-images.githubusercontent.com/85997060/125260936-17e09a00-e301-11eb-850d-1144619deec0.png">

## Feature Request

[https://swift.org/blog/library-evolution/](swift.org)

Set BUILD_LIBRARY_FOR_DISTRIBUTION value to YES

[2021-07-12 18:18] 1ucas commented on #488
Hello!

Thanks for reporting the issue.

I'll take a look at this.

[2021-07-13 06:28] sudansh commented on #449
Closing this as I have updated the xcode and can't follow up if this bug still exists

[2021-07-13 06:28] #449 closed

[2021-07-16 01:29] #478 closed

[2021-07-18 17:30] 1ucas commented on #392
Hello, is this issue still happening?
If not, should we close it?

[2021-07-18 17:40] 1ucas commented on #407
Hello, was it solved with version 2.7.0?

[2021-07-18 17:47] 1ucas commented on #434
Hello,
considering the time Swinject 2.7.0 have been around, should we still consider a version 3 as the next minor release?

If not, should we close this issue?

[2021-07-18 18:49] chulbert commented on #434
I’m not sure I understand the question.  The “next release” should in my opinion increment from the current release according to semantic versioning.

[2021-07-18 19:09] 1ucas commented on #434
Is there anything you believe we should do to solve this issue?

[2021-07-18 23:51] chulbert commented on #434
I suppose a test in the build suite to guard against this situation in the future might be a reasonable step. Otherwise I don’t think there are many direct steps to take short of a major release.  Go ahead and close and promise not to let it happen again.  ;)

[2021-07-19 00:11] 1ucas commented on #434
I'm adding some constraints to our CD workflow.

I'll keep this issue open and link it on the PR.

Thanks!

[2021-07-22 07:48] yoichitgy opened #490 "Update README.md to mention the latest Swift/Xcode versions."
Update the following sections in README.md

- [x] Tags, epecially `swift | 2.2-3.1.x` part.
- [x] Requirements
- [x] Installation
- [ ] Example Apps, deprecating our example apps and introducing 3rd party articles/examples
- [x] Question, especially Slack link addressing Issue #438

[2021-07-23 12:45] #475 closed

[2021-07-23 16:28] #474 closed

[2021-08-14 03:47] yoichitgy commented on #438
Removed the link to the Slack workspace in PR #491.

[2021-08-14 03:47] #438 closed

[2021-08-14 03:49] yoichitgy commented on #490
Done except

[2021-08-14 03:54] yoichitgy commented on #469
We made a new release. Thanks @mpdifran and @1ucas for working together!
https://github.com/Swinject/Swinject/releases/tag/2.8.0

[2021-08-14 03:54] #469 closed

[2021-08-14 03:57] yoichitgy commented on #392
Our latest release supports Swift 5. Let's close this issue. If we still see the issue, feel free to re-open it 👍

[2021-08-14 03:57] #392 closed

[2021-08-17 12:55] jakubkiermasz-zd opened #492 "Weak object scope acts like a singleton"
Hi!

I'm playing with the swinject and its weak object scope. It works like a charm, when I'm resolving an object without any arguments. When I want to register and resolve an object with one/more arguments, it acts as a singleton.

Here's the class declaration and registration

[code]

And here's the test result:

[code]

Witch fails with an `XCTAssertNotEqual failed: ("ObjectIdentifier(0x00007f9

[2021-08-18 06:44] danya61 opened #493 "`Lazy` InstanceWrapper can't provide thread safety"
Yesterday I faced some crash in `302:Container.swift`:
[code]
In my case, I **lazily** resolve dependencies, and judging by the stack trace, `Lazy<Service>` appeared in all the crashes.
After a while, I seem to have found the problem.

### Problem

Imagine we register some dependency with a `Lazy<Service>` argument in init:
`container.register(Person.self) { r in PetOwner(pet: r.resolve(Lazy<Anima

[2021-08-19 14:54] mpdifran opened #494 "Merge PR introducing SPM support for SwinjectStoryboard"
https://github.com/Swinject/SwinjectStoryboard/pull/136

[2021-08-19 14:55] mpdifran commented on #486
@yoichitgy I believe you've made some updates in this area, should this task be closed?

[2021-08-21 05:51] yoichitgy commented on #486
@mpdifran I noticed fixing our Makefile was insufficient and made the following PRs.

- https://github.com/Swinject/Swinject/pull/495
- https://github.com/Swinject/SwinjectStoryboard/pull/167

Would you review them? After merging them, we can close this issue👍

I think the release process using CI/CD (GitHub Actions) can be another (next step) issue.

[2021-08-22 17:03] mpdifran commented on #486
Reviewed and merged! I'll close this issue now.

[2021-08-22 17:03] #486 closed

[2021-08-26 14:57] Nakwendaa opened #498 "Breaking change with Swinject 2.8.0"
Hi,

Swinject 2.8.0 introduced a breaking change by setting minimum iOS deployment target to 9.0 (was 8 with 2.7.1).
From my point of view, if we respect semver, we should have release Swinject 3.0.0 instead of 2.8.0.
It caused that we're unable to compile SwinjectAutoregistration today because it depends Swinject ~> 2.7.

I don't know if it is possible, but i think we should remove 2.8.0 podspec

[2021-08-28 14:16] 1ucas commented on #498
Hello, Nakwendaa.
Thanks for you feedback.
I'm sorry to hear that.

I'm talking to the maintainers about this situation.

[2021-09-03 11:23] gadireddi226 opened #500 "EXCLUDED_ARCHS[sdk=iphonesimulator*]: 'arm64' causes error on M1Macbooks"
If we use swinject in our project and we need to use simulator on our M1 macbooks we are unable to build our project.
Could you please get rid of the excluded architectures in future versions it does not make sense to exclude them in newest Xcode?

[2021-09-05 16:00] #494 closed

[2021-09-06 10:02] Shockah commented on #344
Also having the issue, despite using a SynchronizedResolver as suggested.

[code]

[2021-09-06 14:19] talron10 commented on #344
We actually solved it on our side by securing all of the instances of the
resolver that were spreaded around.
We kept a global reference of the SynchronizedResolver and just passed that
around, as the resolver being passed in the app builder blocks were a
non-sybchronized which caused the crashes

On Mon, 6 Sep 2021, 11:03 Michał Dolaś, ***@***.***> wrote:

[2021-09-06 14:25] Shockah commented on #344
This is what we do already, and it doesn’t seem to help. At this point we’ll probably either move to a different library or just write our own solution for our internal use cases only.

[2021-09-06 17:15] talron10 commented on #344
Not sure if you use it the same as we do, but it sounds we were on the same
spot.
For us, after securing all of the external calls to get the resolver from
the container, we found out that in the `.register(...)` calls in the
container - non synchronized resolvers were passed as an argument to the
closure.
Initializing the container and getting a resolver instance from outside to
the `.register(..

[2021-09-09 03:24] willemfrishert commented on #500
@gadireddi226 I'm having the same issue and noticed that there's already a PR up for it. Have a look at https://github.com/Swinject/Swinject/pull/497

[2021-09-09 07:46] danya61 commented on #377
@dakrawczyk  i faced the same problem but can't figure out how we can get deadlock using NSRecursiveLock as sync mechanism

[2021-09-09 21:15] gadireddi226 commented on #500
Thanks for letting me know @willemfrishert . I hope they will merge it soon.

[2021-09-19 10:28] #498 closed

[2021-09-29 11:02] #500 closed

[2021-11-18 12:38] marinecommercon opened #504 "Reopening issue warning linking against dylib in application extensions"
It seems that [this issue](https://github.com/Swinject/Swinject/issues/15) is reappearing with XCode13.
I'm using Swinject 2.8.0.
Could you please have a look ?
Thanks
<img width="523" alt="swinject_warning" src="https://user-images.githubusercontent.com/6602742/142416495-459fc242-95f2-4c0b-8ca3-d3b56d63b18e.png">

[2022-03-26 19:52] richardcoleman opened #507 "Swift 5.6 Warning about Wrapped value on Ubuntu"
I see the following warning using Swift 5.6 on Ubuntu 18.04

`Building for debugging...
/home/rcoleman/Repos/CMCheckersDBClient/.build/checkouts/Swinject/Sources/InstanceStorage.swift:118:50: warning: conditional cast from 'Wrapped' to 'AnyObject' always succeeds
            set { object = newValue.flatMap { $0 as? AnyObject } }
                                                 ^
`

[2022-04-29 06:49] #490 closed

[2022-04-30 15:07] denisPoifol opened #508 "Checking for existing entries in a container"
## Introduction

Swinject enables to register services independently to what is already registered in the container.
This is great to some extend, but it raises the issue of trying to resolve something that has not been registered.

## Motivation

If I want to register a `ViewController` class I don't have to worry wether it dependencies have already been registered or not.
[code]
This work perfec

[2022-05-28 00:46] agungpratama opened #509 "Fail to resolve protocol type from static lib that registered from different module."
As titled,

So let's say I have a project that has this modularized workspace setup.

Main App Project which has dependency to `StaticLib1 `and `FeatureA.framework`
`FeatureA.framework` is a dynamic framework that also has dependency to `StaticLib1`
`StaticLib1` is a static lib that is linked statically to `FeatureA.framework` and MainApp

`StaticLib1 `has a public protocol `SomeProtocol`
MainApp

[2022-05-28 02:09] agungpratama commented on #509
Here a sample workspace that mirror the situation, pardon all the mess (default, iOS 15.4, brokenload xib from FeatureA.framework)  since this is just a quick made project with all default configuration in

https://github.com/agungpratama/ExperimentSwinject

As you can see:

ISomeFeatureAService.self is a protocol declared in FeatureAAPI ( static lib )

AppContainer located in MainApp registers IS

[2022-06-15 08:43] jbehrens94 opened #510 "GraphIdentifiers don't seem to be cleaned-up"
Hi all,

I'm working on an app extension with extremely limited resources in terms of memory. I noticed that Swinject is claiming a lot of memory through `GraphIdentifier`, it'll increase quite a lot when doing regular actions throughout the extension.

Am I using Swinject wrong, or what should I do to minimise that amount in memory?

[2022-06-16 07:13] jbehrens94 commented on #510
@mpdifran Who's able to help me on this? I don't know who the current contributors are, because I saw in an issue from 2020 that it looked like Swinject isn't maintained actively.

[2022-06-16 09:33] jbehrens94 commented on #510
CC @yoichitgy Maybe you can help?

[2022-06-22 21:45] oliverkrakora commented on #457
@bartguminiak @taonhannguyen I don't know if it's still relevant for you, but I solved the issue by changing the object scope of the `Container` to `.container`:
`let container = Container(defaultObjectScope: ObjectScope.container)`

[2022-06-22 22:40] bartguminiak commented on #457
I solved the problem by gluing all dependencies in the main app module.

I may be wrong but the defaultObjectScope you mentioned sounds like something else, not related with cross module dependencies resolving

[2022-06-27 07:51] woutergoossens opened #511 "Xcode 14 (beta 2) - watchOS target has no scheme"
Hi,

When using the latest Xcode 14 beta, Carthage fails with this error:
`2022-06-24 20:46:58.714 xcodebuild[37000:21658006] [MT] DVTSDK: Warning: SDK path collision for path '<DVTFilePath:0x60000251e450:'/Applications/Xcode-beta.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX13.sdk'>': SDK with name 'macosx13.0' being superseded by SDK with 'macosx13.0'.
2022-06-24 20:46:5

[2022-07-06 21:13] SSheldon commented on #511
I experienced an issue like this in another project and it was caused by the xcscheme. I believe this project has the same issue: https://github.com/Swinject/Swinject/blob/2.8.1/Swinject.xcodeproj/xcshareddata/xcschemes/Swinject-watchOS.xcscheme#L83

See yonaskolb/XcodeGen#1226 for more details and a possible fix.

[2022-07-07 02:55] iOSyifeng opened #512 "reset问题"
为什么不提供个根据name  reset的方法  现在只有全局reset

[2022-07-07 05:48] dawiddr commented on #511
This seems to be resolved in Xcode 14 beta 3.

[2022-07-18 09:40] sskjames opened #513 "Unable to update to the latest version of Swinject as SwinjectStoryboard depends on an older version of Swinject"
SwinjectStoryboard depends on Swinject 2.7.1.
Since we use SwinjectStoryboard in our project, this has been blocking us from using the latest Swinject version.
There is an open issue [169](https://github.com/Swinject/SwinjectStoryboard/issues/169) highlighting this problem.
I'm creating this issue here in the hope that SwinjectStoryboard and Swinject might have some common maintainers.
Please take

[2022-07-27 08:53] jbehrens94 commented on #510
@mpdifran @yoichitgy Can you confirm that my previously sent message contains a correct setup for Swinject?

[2022-07-27 09:09] jbehrens94 commented on #510
![Schermafbeelding 2022-07-27 om 11 07 52](https://user-images.githubusercontent.com/5713854/181208876-4db98916-32fa-4299-8133-b314ecafba79.png)
![Schermafbeelding 2022-07-27 om 11 07 03](https://user-images.githubusercontent.com/5713854/181208863-8399c39c-7501-4cae-a583-cf53d848942f.png)

The first screenshot is a clean start, the second screenshot is after an action in the app extension is finis

[2022-07-27 13:05] mpdifran commented on #510
@jbehrens94 yeah your setup looks correct, I don't see anything wrong with it.

[2022-07-27 14:01] jbehrens94 commented on #510
Same question for the Swinject.(Weak..) things

[2022-07-29 20:09] welshm commented on #493
This is still an issue. Our workaround currently is to resolve everything on the same thread, which is less than ideal.

Would it be possible to change the `SynchronizedResolver` from a wrapper class to a property of the `Container` ? Then one could instantiate or set that property, so that when the `Wrapper` resolves it could still enforce using the locks.

[2022-08-03 16:33] battlmonstr commented on #405
I've implemented the suggested workaround:
[code]

Usage:

[code]

I wish this was a part of Swinject 😅

@zdnk @jakubvano is it something like this you were looking for?

[2022-08-04 13:11] welshm commented on #493
I think this is fixed in the latest release if you want to try @danya61 @chosa91

[2022-08-08 12:48] ursusursus opened #515 "Multibinding support?"
Coming from android / Dagger side of the world, the thing I'm missing to facilitate a highly modular codebase is multibinding.
Essential, what it is, is that the implementation is registered as its protocol type - the usual stuff.

However, I'm then able to be pull out (inject) all these protocol-implementing instances as a set or array, i.e. `Set<SomePlugin>`

This allows for a plugin architectur

[2022-08-08 12:55] ursusursus commented on #515
The manual workaround is to have
[code]

but as you see, this kind of defeats the modularity of Assemblies etc. Should be a DI library feature

[2022-08-11 11:44] battlmonstr commented on #271
see a workaround here: https://github.com/Swinject/Swinject/issues/405

[2022-08-20 13:08] EgorkZe opened #516 "Deallocated variable when trying to resolve object"
Im trying to resolve viewModel in my MVVM architecture

My assembly class
`public final class CancelAssembly: Assembly {

    public init() {

    }

    var container: Swinject.Container?
    var viewController: UIViewController!

    public func assemble(container: Swinject.Container) {
        container.register(CancelCoordinatorProtocol.self,
                           factory: {(r, assembler:

[2022-08-28 20:25] bryanwagner commented on #221
The PR submitted above #445 appears to fix the issue. As a workaround, I'm using the following extension function until the PR is merged:
[code]

[2022-08-30 07:09] cp-divyesh-v commented on #439
I have similar use case not able to resolve feature2 dependency which is registered in feature1 and my all features are in deferent module.

[2022-09-05 17:29] ursusursus opened #518 "Overloaded bindings in hierarchy of assemblers are resolved in a incorrect way"
Hi, nazdar,

I have make use of the parent child assemblers, which works great to create semantical scopes.

However one thing this is unexpected/dangerous is how unnamed overloaded bindings are resolved.

Say I have a alamofire `Interceptor` registered in `app scope`, which provides a common middleware for attaching user agent etc
`container.register(Interceptor.self, name: "app") { _ in Intercep

[2022-09-06 02:48] Bruce9487 opened #519 "How to explain scope graph and weak means in Swinject?"

[2022-09-06 03:52] #519 closed

[2022-09-09 17:26] KamilGucik commented on #448
Hello, any updates?

[2022-09-12 18:31] bbrk24 commented on #510
I investigated this a little, and from what I can tell, the `GraphIdentifier` and `Weak<Any>` objects are being held onto by `GraphStorage`. Perhaps instead of `[GraphIdentifier: Weak<Any>]`, it needs some kind of `WeakDictionary<GraphIdentifier, Any>`.

[2022-09-13 21:03] welshm commented on #515
What would you want to do with this `Set<SomePlugin>` ? Just trying to envision how it can be done

[2022-09-13 21:06] welshm commented on #516
Nothing has a strong reference to the view model - I think if you want it to persist beyond that scope you'll need a strong reference (somewhere).

I think it's more common that the VC has the model injected into it (as opposed to the other way around) so that you then use the VC by inserting it into the navigation, and creating a strong reference that way

[2022-09-13 21:58] ursusursus commented on #515
It's mostly used for dependency inversion when modularizing, and you wish for Assembly to be packaged with the module.

For example
[code]

[code]

[code]

The whole point of the inversion is to enable codebases with multiple apps, where those apps vary in features. Say App A will only include "dynatrace tracker", and App B will include "dynatrace tracker" and "firebase tracker".

So, from this yo

[2022-10-03 13:43] glizik opened #522 "UIFoundation: UINibDecoderDecodeObjectForValue exception iOS 16"
We use Swinject 2.8.0 in production and from the latest version and from iOS 16 (but not only, we have some users from 15.6.1) we have a raising issue. The app is crashing on start. In Xcode I see some crash reports but I can not reporduce the issue (tested on like 20 devices).
![Screenshot 2022-10-03 at 15 37 07](https://user-images.githubusercontent.com/2758002/193592286-d3feed9d-8149-4082-9a64-

[2022-10-03 14:26] glizik commented on #522
Using Xcode 14.0 for the build

[2022-10-04 08:25] glizik commented on #522
Building with Xcode 13 hotfixed the problem, but that won't hold forever.

[2022-11-04 12:15] asuzdaltsev commented on #508
You can use behavior to achieve this. In the behavior you can save the key in a collection and query for the key presence

[2022-11-06 14:45] ukushu opened #524 ""master" branch is 🔥 DEAD 🔥"
Issues in GraphIdentifier

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/yKmzc.png

Even tests are failed:

[![enter image description here][2]][2]

  [2]: https://i.stack.imgur.com/C0cMb.png

[2022-11-07 12:17] CezaryCiosek commented on #524
+1

[2022-11-13 20:16] JOETZAN12 opened #525 "A"

[2022-11-23 16:11] mpdifran commented on #524
Oh no, I'll take a look right away!

[2022-11-23 16:17] #525 closed

[2022-11-23 16:17] mpdifran commented on #513
Thanks for the ticket, we'll take a look and fix this ASAP! Sorry for the delay.

[2022-11-23 16:29] maxim-chipeev commented on #524
Hi @ukushu, could you share a bit more about your dev-environment? This passed on Travis CI before but…it looks like Travis is disabled on the repo temporarily 😬

Does adding `import Foundation` resolve those errors?

[2022-11-23 23:25] bradfol commented on #515
Was also looking into how this feature might exist in Swinject. Agreed that a `container.registerIntoSet()` method seems like the right way to go about it.

[2022-11-23 23:28] bradfol commented on #508
Looks like the method you proposed has been recently added in this PR https://github.com/Swinject/Swinject/pull/521. A release hasn't been cut yet so the change is not yet available but hopefully soon.

[2022-11-24 01:54] ukushu commented on #524
I have connect Swinject as package, so I cannot edit files and cannot add "import Foundation" :(

I have connected Swinject in few projects:
* Swinject connected as package
* macOs app
* written on swift

Fixed issue with switch to "2.8.1" version.

[2022-11-26 21:08] maxim-chipeev commented on #524
@bradfol fixed this in #526, thanks!

[2022-11-26 21:08] #524 closed

[2022-11-27 17:02] Telinir commented on #448
Should be addressed, make sure to use a synchronized container to avoid this as this is primarily a concurrency issue
- #523

[2022-11-27 17:03] maxim-chipeev commented on #448
Should be addressed, make sure to use a synchronized container to avoid this as this is primarily a concurrency issue
- #523